:root {
    --primary-color: #2e7d32;
    --secondary-color: #81c784;
    --text-color: #333;
    --accent-color: #427c53;
    --bg-color: #f1f8e9;
    --card-bg: #ffffff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --warning: #f8bd7f;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hidden {
    display: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-right: 8px;
}

button:hover {
    background-color: #1b5e20
}