.upload-card, .result-card {
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.upload-card:hover, .result-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.upload-card p, .result-card p {
    text-align: center;
}

.card-icon {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2 {
    color: var(--primary-color);
    margin-top: 0;
    font-size: 1.8rem;
    text-align: center;
}

input[type="file"] {
    display: block;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 2px dashed var(--secondary-color);
    border-radius: 8px;
    background-color: rgba(129, 199, 132, 0.1);
    margin-bottom: 10px;
}

.upload-input {
    text-align: center;
}